<div class="code_container_{{id}}">
  <p><b>code editor {{id}}</b></p>
  <textarea id="code_editor_{{id}}" class="editors_textarea">
    {{code}}
  </textarea>
  <form>
    <button id="editor_delete_{{id}}" class="btn btn-danger">Delete</button>
  </form>
</div>
